<html>
    <h1>Modificar Persona</h1>

    <div>

    <label>DNI</label>
    <input type="text" name="dni" [(ngModel)]="datos.dni">

    <br>

    <label>NOMBRE</label>
    <input type="text" name="nombre" [(ngModel)]="datos.nombre">

    <br>

    <label>APELLIDOS</label>
    <input type="text" name="apellidos" [(ngModel)]="datos.apellidos">

    <br>
    </div>

    <div>
        <button class="btn btn primary mr-3*" type="submit" (click)="modificarPersona()">AÑADIR</button>

        <button class="btn btn-primary" type="button" routerLink="/">Cancelar</button>
    </div>

    <pre>
        {{ datos | json }}
    </pre>
</html>
