<h1>Owner Details</h1>

<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <td>{{owner.firstName}} {{owner.lastName}}</td>
        </tr>

        <tr>
            <th>Address</th>
            <td>{{owner.address}}</td>
        </tr>

        <tr>
            <th>City</th>
            <td>{{owner.city}}</td>
        </tr>

        <tr>
            <th>Telephone</th>
            {{owner.telephone}}
        </tr>

        <tr>
            <th>Pets</th>
            <td>{{owner.pets}}</td>
        </tr>
    </thead>
</table>