<h1 class="my-3">Owner Details</h1>

<button routerLink="/owners" routerLinkActivate="active" class=" mx-4 btn btn-link"><--Back</button>
<button routerLink="/ownerForm/{{owner.id}}" routerLinkActivate="active" class="btn btn-warning">Modificar</button>
<button class=" mx-3 btn btn-danger" (click)="delOwner()">Eliminar</button>
<button class="btn btn-dark">Add Pets</button>

<table class=" my-4 table table-bordered">
    <tr>
        <th class="table-dark">Name</th>
        <td>{{owner.firstName}} {{owner.lastName}}</td>
    </tr>

    <tr>
        <th class="table-dark">City</th>
        <td>{{owner.city}}</td>
    </tr>

    <tr>
        <th class="table-dark">Address</th>
        <td>{{owner.address}}</td>
    </tr>

    <tr>
        <th class="table-dark">Telephone</th>
        <td>{{owner.telephone}}</td>
    </tr>

    <tr>
        <th class="table-dark"> Pets</th>
        <td>{{owner.pets}}</td>
    </tr>
</table>

<!--Introducir el componente de mascotas-->
<app-pets></app-pets>
 
