<h1>Listado Personas de repaso</h1>

<button type="button" (click)="irNuevaPersona()">Añadir</button>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>BORRAR</th>
            <th>MODIFICAR</th>
        </tr>

    </thead>

    <tbody>
        <tr *ngFor="let p of personas">
            <td>{{p.id}}</td>
            <td>{{p.dni}}</td>
            <td>{{p.nombre}}</td>
            <td>{{p.apellidos}}</td>

            <td><button (click)="borrarPersona(p.id)">Borrar</button></td>
            <td><button routerLink="personas-add/{{p.id}}">Modificar</button></td>
        </tr>


    </tbody>
</table>