<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Specialties</th>
                    <th>MOD</th>
                    <th>DEL</th>
                    <th></th>
                </tr>

            </thead>

            <tbody>
                <tr *ngFor="let vet of vets">
                    <td><a>{{vet.firstName}} {{vet.lastName}}</a></td>
                    <td>
                        <span *ngFor="let specialtie of vet.specialties">
                            {{specialtie.name}} 
                            <br>
                        </span>
                    </td>
                    <td>
                        <Button class="btn btn-dark">Mod</Button>
                    </td>
                    <td><button class="btn btn-danger">Del</button></td>
                </tr>
            </tbody>
        </table>
        <button class="btn" routerLink="/vet-form/-1">Add Vet</button>
    </div>

</div>