<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Specialties</th>
                </tr>

            </thead>

            <tbody>
                <tr *ngFor="let vet of vets">
                    <td><a routerLink="/vet-details/{{vet.id}}">{{vet.firstName}} {{vet.lastName}}</a></td>
                    <td>
                        <ul class="list-group list-group-flush" *ngFor="let specialtie of vet.specialties">
                            <li class="list-group-item"> {{specialtie.name}} </li>
                        </ul>
                    </td>
                    
                </tr>
            </tbody>
        </table>
        <button class="btn" routerLink="/vet-form/-1">Add Vet</button>
    </div>

</div>