
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <h3>Ejemplo de llamada a la API de STAR WARS</h3>
    <br />
    <table id="personajes" class="estilo_Tabla_1">
        <caption>Personajes STAR WARS</caption>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Altura</th>
                <th>Peso</th>
                <th>Nacimiento</th>
                <th>Género</th>
                <th>Homeworld</th>
            </tr>
        </thead>
           
        <tbody id="cuerpoPersonajes">

            <tr *ngFor="let personaje of listPer">
                <td>{{personaje.name}}</td>
                <td>{{personaje.height}}</td>
                <td>{{personaje.mass}}</td>
                <td>{{personaje.birth_year}}</td>
                <td>{{personaje.gender}}</td>

                <!-- <td><a (click)="mostrarDatosPlaneta(personaje.homeworld, $event)">{{personaje.homeworld}}</a></td> -->
                <td><a (click)="mostrarDatosPlaneta(personaje.homeworld, $event)" href="{{personaje.homeworld}}?format=json">{{personaje.homeworld}}</a></td>
            </tr>

        </tbody>

    </table>

    <div>
        <button id="btAnterior"(click)= previous() >Anterior</button>
		<button id="btSiguiente"(click)= next()>Siguiente</button> 
    </div>

    <br/>
    <!--Esta es la primera manera de escribir los datos del planeta, con un parámetro de entrada-->
  
      <!-- <div *ngIf="datosPlanetas">Datos del planeta:
          <app-planeta [planeta]="datosPlanetas"></app-planeta>
      </div> -->
  
    <!--Esta es la segunda manera de escribir los datos de un planeta, directamente con una función-->
    
    <!--Hay que tener en cuenta que datos planetas aun no se ha echo la petición ajax por lo tanto no se podrá escrbir
       y dará error por eso hay que poner el *ngIf-->
  
    <div *ngIf="datosPlanetas"> Datos del planeta: 
      <p>Nombre: {{datosPlanetas.name}}</p>
      <p>Rotación: {{datosPlanetas.rotation_period}}</p>
      <p>Orbita: {{datosPlanetas.orbital_period}}</p>
      <p>Clima: {{datosPlanetas.climate}}</p>
      <p>Gravedad: {{datosPlanetas.gravity}}</p>
      <p>Terreno: {{datosPlanetas.terrain}}</p>
  
    </div>
</body>

</html>