<h4>{{texto}} Vet</h4>

<div>

    <form class="form-horizontal" #vetForm="ngForm" (ngSubmit)="addModVet(vetForm.value)">
        <div class="form-group">
            <label>FirstName: </label>
            <input type="text" class="form-control" required [(ngModel)]="vet.firstName" name="firstName" #firstName="ngModel">
            <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
                FirstName is required
            </div>
        </div>
        <div class="form-group">
            <label>LastName: </label>
            <input type="text" class="form-control" required [(ngModel)]="vet.lastName" name="lastName" #lastName="ngModel">
            <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
                LastName is required
            </div>
        </div>

        <!--En el select cuando ponemos ngModel es al atributo del ts que hacemos referencia y donde vamos a añadir lo que pongamos en el ngValue-->
        <div class="form-group">
            <label>Specialtie: </label>
            <select class="form-control" [(ngModel)]="vet.specialties" name="specialtie" multiple>
                <option *ngFor="let specialtie of specialties" [ngValue]="specialtie">
                    {{specialtie.name}}
                </option>
            </select>
        </div>

        <div>
            <button class="btn btn-primary mr-3" type="submit" [disabled]="!vetForm.valid">{{texto}}
              </button>
            <button type="button" class="btn btn-primary" routerLink="/vets">Cancel</button>
            <!--
                  Si queremos que mantenga los parámetros de la ruta sería así:
                   <button type="button" class="btn btn-primary" routerLink="../">Cancelar</button>
              -->
        </div>

    </form>

</div>