<html>
<h1>{{textoBoton}} Persona</h1>

<div>

    <label>DNI</label>
    <input type="text" name="dni" [(ngModel)]="datosPersona.dni">

    <br>

    <label>NOMBRE</label>
    <input type="text" name="nombre" [(ngModel)]="datosPersona.nombre">

    <br>

    <label>APELLIDOS</label>
    <input type="text" name="apellidos" [(ngModel)]="datosPersona.apellidos">

    <br>
</div>

<div>
    <button class="btn btn primary mr-3*" type="submit" (click)="addModPersona()">{{textoBoton}}</button>

    <button class="btn btn-primary" type="button" routerLink="/">Cancelar</button>
</div>


<pre>
        {{ datosPersona | json }}
    </pre>

</html>