<p>
    <!--Se puede navegar de dos formas diferentes-->
    <a class="btn btn-primary mr-4" routerLink="/personas-add/-1" role="button">Añadir Persona E</a>
    <span>  </span>
    <button type="button" class="btn btn-info" (click)=" iraNuevaPersona() ">Añadir Persona B</button>
</p>


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>BORRAR</th>
            <th>MODIFICAR</th>
        </tr>
    </thead>
    <tbody>
        <!--Tener en cuenta que al crear la interfaces personas los atributos se escribiran tal y como lo hemos definido en minus-->
        <tr *ngFor="let persona of datosPersonas ">
            <td>{{persona.id}}</td>
            <td>{{persona.dni}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellidos}}</td>
            <td>
                <button (click)="borrarPersona(persona.id, persona.nombre, persona.apellidos) ">Borrar</button>
            </td>

            <td>
                <button routerLink="/personas-mod/{{persona.id}} ">Modificar</button>
            </td>
        </tr>
    </tbody>
</table>