<div class="container">

    <nav class=" my-5 navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">PetClinic</a>
        <button class="navbar-toggler" type="button" (click)="navBar.isNavbarCollapsed = !navBar.isNavbarCollapsed" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div [ngbCollapse]="navBar.isNavbarCollapsed" class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" routerLink="/" routerLinkActive="active">Inicio <span class="sr-only">(current)</span></a>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="cursor: pointer;" (click)="navBar.owners.dropdown = !navBar.owners.dropdown" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Owners
                            </a>
                    <div [ngbCollapse]="navBar.owners.dropdown" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="/owners" routerLinkActive="active" (click)="navBar.owners.dropdown = !navBar.owners.dropdown">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span><span>Todos</span></a>
                        <a class="dropdown-item" routerLink="/ownerForm/-1" routerLinkActive="active" (click)="navBar.owners.dropdown = !navBar.owners.dropdown">Añadir nuevo</a>
                    </div>
                </li>

                <a class="nav-item nav-link" routerLink="/pettypes" routerLinkActive="active">Pet Types</a>

            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>