<div class="container">

    <h1 class="badge badge-primary ">Welcome to the Pet Clinic, Perra</h1>

    <ul class="list-group list-group-horizontal">

        <li class="list-group-item list-group-item-success"><a routerLink="/" routerLinkActive="active">Inicio</a></li>
        <li class="list-group-item list-group-item-success"><a routerLink="/owners" routerLinkActive="active">Owners</a></li>
        <li class="list-group-item list-group-item-success"><a routerLink="/vets" routerLinkActive="active">Veterinarios</a></li>
    </ul>
</div>



<router-outlet></router-outlet>