<h1 class="my-4">
    Pets and Visits</h1>


<div class="row " *ngFor="let pet of pets">
    <div class="col-5" >
        <table class=" mt-5 table">
            <tr>
                <th>Name</th>
                <td>{{pet.name}}</td>
            </tr>

            <tr>
                <th>Birth Date</th>
                <td>{{pet.birthDate}}</td>
            </tr>

            <tr>
                <th>Type</th>
                <td>{{pet.typeName}}</td>
            </tr>
        </table>

        <button class="btn btn-warning">Edit Pet</button>
        <button class="mx-4 btn btn-danger">Delete Pet</button>
        <button class=" btn btn-dark">Add Visit</button>
    </div>

</div>