<div class="row ">
    <div class="col-5 mx-5">
        <table class=" mt-5 table">
            <tr>
                <th>Name</th>
                <td>{{pet.name}}</td>
            </tr>

            <tr>
                <th>Birth Date</th>
                <td>{{pet.birthDate}}</td>
            </tr>

            <tr>
                <th>Type</th>
                <td>{{pet.typeName}}</td>
            </tr>
        </table>

        <button class="btn btn-warning" routerLink="/petForm-mod/{{pet.id}}" routerLinkActivate="active">Edit Pet</button>
        <button class="mx-4 btn btn-danger" (click)="deletePet(pet.id, pet.name)">Delete Pet</button>

        <button class=" btn btn-dark" routerLink="/visitForm/{{pet.id}}">Add Visit</button>
        <!-- <button class=" btn btn-dark" routerLink="/visitForm/{{pet}}">Add Visit</button> -->

    </div>

    <!--En este caso le pasamos el arrive entero de visitas para escribirlo en la tabla-->
    <app-visits *ngIf="pet.visits.length > 0" [visits]="pet.visits"></app-visits>

</div>