
<h1 class="my-4">Pets and Visits</h1>

<table class="table table-sm table-borderless" *ngFor="let pet of pets">
    <tr>
        <th >Name</th>
    </tr>
    <tr>
        <td>{{pet.name}}</td>
    </tr>
        
    <tr>
        <th>Birth Date</th>
        
    </tr>
    <tr>
        <td>{{pet.birthDate}}</td>
    </tr>

    <tr>
        <th>Type</th>
    </tr>
    <tr>
        <td>{{pet.typeName}}</td>
    </tr>
</table>

<button class="btn btn-warning">Edit Pet</button>
<button class="mx-4 btn btn-danger">Delete Pet</button>
<button class=" btn btn-dark">Add Visit</button>