<table class=" mt-5 table">
    <thead class="table-dark">
        <tr>
            <th>Date</th>
            <th>Descrition</th>
            <th>Action</th>
        </tr>

    </thead>
    <tr *ngFor="let visit of visits">
        <td>{{visit.visitDate |date: "dd-MM-yyyy"}}</td>
        <td> {{visit.description}} </td>
        <td>
            <button class=" mx-3 btn btn-danger" (click)="borrarVisit(petId)">DEL</button>
            <button class="btn btn-warning" routerLink="/visitForm/visit.id">MOD</button>
        </td>
    </tr>
    <tbody>

    </tbody>

</table>